//
   Created by Thomas on 18/1/2016.
link(rel='import' href='/javascripts/bower_components/polymer/polymer.html')
//elements
link(rel='import' href='/javascripts/bower_components/paper-toolbar/paper-toolbar.html')
link(rel='import' href='/javascripts/bower_components/iron-flex-layout/iron-flex-layout.html')
link(rel='import' href='/javascripts/bower_components/paper-icon-button/paper-icon-button.html')
link(rel='import' href='/javascripts/bower_components/iron-icons/iron-icons.html')
link(rel='import' href='/javascripts/bower_components/iron-icons/social-icons.html')
link(rel='import' href='/javascripts/bower_components/iron-icons/editor-icons.html')
link(rel='import' href='/javascripts/bower_components/iron-signals/iron-signals.html')
link(rel='import' href='/javascripts/bower_components/iron-ajax/iron-ajax.html')
link(rel='import' href='/javascripts/bower_components/google-map/google-map.html')
link(rel='import' href='/javascripts/bower_components/paper-fab/paper-fab.html')
link(rel='import' href='/javascripts/bower_components/paper-fab-transitions/paper-fab-speed-dial.html')
link(rel='import' href='/javascripts/bower_components/paper-tooltip/paper-tooltip.html')
link(rel='import' href='/javascripts/bower_components/paper-toast/paper-toast.html')
link(rel='import' href='/javascripts/bower_components/paper-button/paper-button.html')
link(rel='import' href='/javascripts/bower_components/iron-localstorage/iron-localstorage.html')
link(rel='import' href='/javascripts/bower_components/paper-input/paper-input.html')
link(rel='import' href='/javascripts/bower_components/paper-input/paper-textarea.html')
link(rel='import' href='/javascripts/bower_components/paper-progress/paper-progress.html')
link(rel='import' href='/javascripts/bower_components/socket-connection/socket-connection.html')

//custom component
link(rel='import' href='/index-panel-onmaptyp-dialog')


//css
link(rel='import' href='/stylesheets/index-panel-main.html')

dom-module#index-panel-main
    template#main-panel
        style(include='index-panel-main-styles')
        paper-toolbar
            div.container
                div
                    paper-icon-button#drawer-toggle(icon='search')
                    paper-tooltip(for='drawer-toggle' position='bottom') Search
                div.flexchild Typhoon GIS
                    span#version Integration
                div.rightchild
                    template(is='dom-if' if='[[exist_curr_typ]]')
                        paper-icon-button#btn-curr-typ(icon='icons:track-changes' on-tap='toggleCurrTypToast')
                        paper-tooltip(for='btn-curr-typ' position='bottom') Active Typhoon(s)
                    paper-icon-button#search-dialog-toggle(icon='icons:assignment' class='bottom')
                    paper-tooltip(for='search-dialog-toggle' position='bottom') List
                    paper-icon-button#btn-information(icon="icons:info-outline")
                    paper-tooltip(for='btn-information' position='bottom') Learn more about typhoon
                    paper-icon-button#btn-legend(icon='icons:extension')
                    paper-tooltip(for='btn-legend' position='bottom') Legend

        #legendInfo(style='display: none;')
            .le-lbl Grade
            #grade-container
                .css_table
                    .css_tr.scale_tr
                        .css_td(style='background: hsl(72,100%,50%);')
                        .css_td(style='background: hsl(54,100%,50%);')
                        .css_td(style='background: hsl(36,100%,50%);')
                        .css_td(style='background: hsl(18,100%,50%);')
                        .css_td(style='background: hsl(0,100%,50%);')
                        .css_td(style='background: hsl(0,100%,50%);')
                        .css_td(style='background: hsl(54,100%,50%);')
                    .css_tr
                        .css_td 2
                        .css_td 3
                        .css_td 4
                        .css_td 5
                        .css_td 6
                        .css_td 7
                        .css_td 9

            .le-lbl Type Matrix
            #type-container
                .css_table
                    .css_tr
                        .css_td 2
                        .css_td Tropical Depression (TD)
                    .css_tr
                        .css_td 3
                        .css_td Tropical Strom (TS)
                    .css_tr
                        .css_td 4
                        .css_td Severe Tropical Storm (STS)
                    .css_tr
                        .css_td 5
                        .css_td Typhoon (TY)
                    .css_tr
                        .css_td 6
                        .css_td Extra-tropical Cyclone (L)
                    .css_tr
                        .css_td 7
                        .css_td Just entered
                    .css_tr
                        .css_td 9
                        .css_td Tropical Strom or Higher

        #uploadMenu(class$='{{uploadMenuClass}}')
            paper-fab#btn-draw-cancel.red(icon='icons:close')
            paper-tooltip(for='btn-draw-cancel' position='top') Cancel
            .button-padding
            paper-fab#btn-draw-forward.green(icon='icons:chevron-right' disabled)
            paper-tooltip(for='btn-draw-forward' position='top') Next

        #uploadForm(class$='{{uploadFormClass}}')
            paper-progress#uploadProgress.upload-progress(intermediate disabled='true')
            div
                div.form-with-padding
                    paper-input.on-overlay(label='Name' value='{{usr_predict.name}}')
                    paper-textarea.on-overlay(label='Comment' value='{{usr_predict.comment}}')
                .bottom-form-control
                    paper-fab#btn-predict-form-back.red(icon='icons:chevron-left')
                    paper-tooltip(for='btn-predict-form-back' position='top') Back
                    .button-padding
                    paper-fab#btn-predict-form-submit.green(icon='icons:file-upload')
                    paper-tooltip(for='btn-predict-form-submit' position='top') Submit

        #uploadComplete(class$='{{uploadCompleteClass}}')
            paper-input#complete-token-input.on-overlay(label='copy and share with your friends!' value='{{complete_token}}')
            .button-padding
            paper-fab#btn-complete-close.red(icon='icons:close')
            .button-padding
            paper-fab#btn-copy.green(icon='icons:content-copy')

        iron-ajax#putUsrPredict(url='/api/usr_predict' method='PUT' handle-as='json' content-type="application/json" on-response='postPutUsrPredictHook' debounce-duration='300')

        #retrieveMenu(class$='{{retrieveMenuClass}}')
            paper-input#retrieve-token-input.on-overlay(label='Paste your token here!' value="{{srch_token}}")
            .button-padding
            paper-fab#btn-retrieve-cancel.red(icon='icons:close')
            paper-tooltip(for='btn-retrieve-cancel' position='top') Cancel
            .button-padding
            paper-fab#btn-retrieve-submit.green(icon='icons:done')
            paper-tooltip(for='btn-retrieve-submit' position='top') Upload
            iron-ajax#getUsrPredict(url='/api/usr_predict/{{srch_token}}' handle-as='json' last-response='{{usr_predict}}' on-response='retrieveUsrPredictRes')
            paper-toast#toast-token-empty Token field is empty!
            paper-toast#toast-token-invalid Token is invalid!

        #retrieveInfo(class$='{{retrieveInfoClass}}')
            .upper
                #info_icon
                    paper-fab(icon='icons:perm-identity' disabled)
                paper-tooltip(for='info_detail' position='top') Tap to show/hide user comment
                #info_detail
                    div Name: {{usr_predict.info.name}}
                    div Date: {{_computeTimezone(usr_predict.info.last_update)}}
                paper-fab#btn-close-retrieve-info(icon='icons:close')
                paper-tooltip(for='btn-close-retrieve-info' position='top') Dismiss
            .lower
                | {{usr_predict.info.comment}}

        paper-fab-speed-dial.spd_dial.dropdown-trigger(direction='top')
            paper-fab#shareBtn.indigo(icon='social:share' class='dropdown-trigger')
            paper-tooltip(for='shareBtn' position='left') Shareing
            div.dropdown-content
                paper-fab#btn-user-predict.indigo(icon='editor:mode-edit' mini disabled)
                paper-tooltip(for='btn-user-predict' position='left') Your Predict
                paper-fab#btn-retrieve-prediction.indigo(icon='file-download' mini)
                paper-tooltip(for='btn-retrieve-prediction' position='left') Retrieve Prediction

        iron-signals(on-iron-signal-addintlno='reqPath')
        iron-ajax#getDirIdx(url='/api/flag_dir' handle-as='json' last-response='{{dirs}}')
        iron-ajax#getGradesIdx(url='/api/flag_grade' handle-as='json' last-response='{{grades}}')
        iron-ajax#getPathAjax(url='/api/tc_tracks/{{intl_req}}' handle-as='json' on-response='addPathToList' debounce-duration='300')
        iron-signals(on-iron-signal-rectsrchchg='rectSrch')
        iron-signals(on-iron-signal-deletepathonmap='deletePath')
        iron-ajax#getRectSrch(url='/api/geo_query_rect/{{rect_srch_coord_lat1}}/{{rect_srch_coord_lng1}}/{{rect_srch_coord_lat2}}/{{rect_srch_coord_lng2}}' handle-as='json' on-response='drawEach' debounce-duration='300' last-response='{{rect_srch_res}}')

        paper-toast#predict-info(duration='-1' on-iron-overlay-opened='_enableSelfPredict' on-iron-overlay-closed='_disableSelfPredict')
            iron-ajax#getBasicPredict(url='/api/predict_basic/{{predict_criteria.intl_no}}/{{predict_criteria.date}}' handle-as='json' on-response='processPredictBasic' debounce-duration='300' last-response='{{predict_basic_result}}')
            iron-signals(on-iron-signal-predictinfotrigger='predictRequests')
            iron-ajax#getAdvancePredict(url='/api/predict_advance/{{predict_criteria.intl_no}}/{{predict_criteria.date}}' handle-as='json' on-response='processPredictAdvance' debounce-duration='300' last-response='{{predict_advance_result}}')
            paper-icon-button#close-predict-info.top-right(icon='icons:close')
            #selected_typ Selected Typhoon
            #name
                | {{predict_criteria.name}}
                b  {{predict_criteria.intl_no}}
            #date {{_computeTimezone(predict_criteria.date)}}
            | Prediction:
            #wrapper
                #left
                    paper-button#show-basic-predict(raised disabled) Basic
                #right
                    paper-button#show-advance-predict(raised disabled) Advanced

        socket-connection#socketCurrTyp(url='/socket_curr_typ')
            socket-receiver(event='init')
            socket-receiver(event='update')
        iron-signals(on-iron-signal-socket-inbound-init='_currTypInit')
        iron-signals(on-iron-signal-socket-inbound-update='_currTypUpdate')

        paper-toast#toast-exist-curr-typ(duration='-1')
            paper-icon-button#btn-close-curr-typ-info.top-right(icon='icons:close')
            #curr-typ-listtitle The following typhoon is/are tracked <br>by Japan in the last 24hrs in JMA responsible area:
            template(is='dom-repeat' items='{{curr_typ}}')
                #curr-typ-listitem
                    #curr-typ-listitem-left
                        .label
                            |name
                            b number
                        .value
                            | {{item.name}}
                            b {{item.intl_no}}
                    #curr-typ-listitem-mid
                        .label last update
                        .value {{_computeTimezone(item.last_modi)}}
                    #curr-typ-listitem-right
                        paper-icon-button(icon='icons:visibility' on-tap='toggleShowCurrTyp')

        iron-ajax#getTypHeatMapDataAjax(url='/api/get_heatmap_data' handle-as='json' last-response='{{typ_heat_map_data}}')
        iron-localstorage(name='typ-heat-map' value='{{typ_heat_map_data}}' on-iron-localstorage-load-empty='getTypHeatMapData')
        google-map#map-canvas(api-key='[[apiKey]]' latitude='{{latitude}}' longitude='{{longitude}}' zoom='{{zoom}}' min-zoom='{{minZoom}}' styles='{{mapStyle}}' disable-default-ui='[[disableUI]]' mouse-events='true')
        index-panel-onmaptyp-dialog
    script(type='text/javascript', src='/javascripts/index-panel-main.js')

