//
   Created by Thomas on 18/1/2016.
link(rel='import' href='/javascripts/bower_components/polymer/polymer.html')
//elements
link(rel='import' href='/javascripts/bower_components/paper-menu/paper-menu.html')
link(rel='import' href='/javascripts/bower_components/paper-item/paper-item.html')

dom-module#index-panel-drawer
    template
        paper-toolbar
            div Navigation
        paper-menu
            paper-item
                div Current Typhoon
            paper-item
                div Prediction System
    script(type='text/javascript', src='/javascripts/index-panel-drawer.js')
