//
   Created by Thomas on 18/1/2016.
link(rel='import' href='/javascripts/bower_components/polymer/polymer.html')
//elements
link(rel='import' href='/javascripts/bower_components/paper-toolbar/paper-toolbar.html')
link(rel='import' href='/javascripts/bower_components/iron-flex-layout/iron-flex-layout.html')
link(rel='import' href='/javascripts/bower_components/paper-icon-button/paper-icon-button.html')
link(rel='import' href='/javascripts/bower_components/iron-icons/iron-icons.html')
link(rel='import' href='/javascripts/bower_components/iron-signals/iron-signals.html')
link(rel='import' href='/javascripts/bower_components/iron-ajax/iron-ajax.html')
link(rel='import' href='/javascripts/bower_components/google-map/google-map.html')
link(rel='import' href='/javascripts/bower_components/google-apis/google-maps-api.html')

//custom component
link(rel='import' href='/index-panel-main-dialog')

//css
link(rel='import' href='/stylesheets/index-panel-main.html')

dom-module#index-panel-main
    template#main-panel
        style(include='index-panel-main-styles')
        paper-toolbar
            div.container
                div
                    paper-icon-button#drawer-toggle(icon='search')
                div.flexchild Typhoon GIS
                div.rightchild
                paper-icon-button#search-dialog-toggle(icon='menu' class='bottom')
        iron-signals(on-iron-signal-addintlno='reqPath')
        iron-ajax#getDirIdx(url='/api/flag_dir' handle-as='json' last-response='{{dirs}}')
        iron-ajax#getPathAjax(url='/api/tc_tracks/{{intl_req}}' handle-as='json' on-response='addPathToList' debounce-duration='300')
        google-map#map-canvas(api-key='[[apiKey]]' latitude='{{latitude}}' longitude='{{longitude}}' zoom='{{zoom}}' disableDefaultUi='[[disableUI]]')
    script(type='text/javascript', src='/javascripts/index-panel-main.js')

