extends layout

block header
    script(type='text/javascript', src='/javascripts/bower_components/webcomponentsjs/webcomponents.js')
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

    //custom elements
    link(rel='import' href='/index-panel')

block content
    body(unresolved fullbleed)
        index-panel
