//
   Created by Thomas on 18/1/2016.
link(rel='import' href='/javascripts/bower_components/polymer/polymer.html')
//elements
link(rel='import' href='/javascripts/bower_components/paper-menu/paper-menu.html')
link(rel='import' href='/javascripts/bower_components/paper-item/paper-item.html')

//custom elements
link(rel='import' href='/index-panel-main-dialog')

//css
//link(rel='import' href='/stylesheets/index-panel-drawer.html')

dom-module#index-panel-drawer
    template
        index-panel-main-dialog#srchList
    script(type='text/javascript', src='/javascripts/index-panel-drawer.js')
