//
   Created by Thomas on 18/1/2016.
link(rel='import' href='/javascripts/bower_components/polymer/polymer.html')
//elements
link(rel='import' href='/javascripts/bower_components/iron-ajax/iron-ajax.html')
link(rel='import' href='/javascripts/bower_components/iron-flex-layout/iron-flex-layout.html')
link(rel='import' href='/javascripts/bower_components/paper-input/paper-input.html')
link(rel='import' href='/javascripts/bower_components/paper-spinner/paper-spinner.html')
link(rel='import' href='/javascripts/bower_components/paper-styles/color.html')
link(rel='import' href='/javascripts/bower_components/paper-item/paper-item.html')
link(rel='import' href='/javascripts/bower_components/paper-icon-button/paper-icon-button.html')
link(rel='import' href='/javascripts/bower_components/paper-tooltip/paper-tooltip.html')
link(rel='import' href='/javascripts/bower_components/iron-signals/iron-signals.html')
link(rel='import' href='/javascripts/bower_components/iron-list/iron-list.html')
link(rel='import' href='/javascripts/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html')
link(rel='import' href='/javascripts/bower_components/paper-toolbar/paper-toolbar.html')

//css
link(rel='import' href='/stylesheets/index-panel-main-dialog.html')

dom-module#index-panel-main-dialog
    template
        style(include='index-panel-main-dialog-styles')
        iron-ajax#searchAjax(auto url='/api/tc_records_search/{{criteria}}' handle-as='json' last-response='{{ajaxResponse}}')
        //div#searchDialog.search-dialog
        paper-scroll-header-panel(fixed="")
            paper-toolbar
                paper-input.on-toolbar(label='Criteria' value="{{criteria}}")
                paper-spinner#search-spinner
            .content.padding-side
                iron-list#typList(items='{{ajaxResponse}}' as='item' selected-items="{{selectedTyp}}" selection-enabled='true')
                    template
                        div.no-padding-left(intl_no='{{item.intl_no}}' intl_name='{{item.name}}' class$="[[_computedClass(selected)]]" on-tap='addTyphoon')
                            div.hori-container.cus-item-body
                                div(class$="{{ statusClass(item.last_status) }}")
                                div.item-strech-vert.middle-node
                                    div.item-typ-name {{item.name}}
                                    div.item-typ-intl-no intl_no: {{item.intl_no}}
                                div.item-strech-vert.last-node
                                    div.item.typ.dur-hour duration: {{item.dur_hour}} hr(s)
                                    div.item.typ.last-modi last update: {{item.last_modi}}
    script(type='text/javascript', src='/javascripts/index-panel-main-dialog.js')
