extends layout

block header
    script(type='text/javascript', src='/javascripts/bower_components/webcomponentsjs/webcomponents.js')
    //custom elements
    link(rel='import' href='/index-panel')

block content
    body(unresolved fullbleed)
        index-panel
