doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-capable' content='yes')

  title= title
  //link(rel='stylesheet', href='/stylesheets/style.css')
  //Init script
  script(type='text/javascript', src='/javascripts/mode.js')
  script(type='text/javascript', src='/javascripts/settings.js')
  script(type='text/javascript', src='/javascripts/util.js')
  block header
html
  block content
