body {
  padding: 50px;
  font: 14px "Exo2", Helvetica, Arial, sans-serif;
}

.cus_iw {
  background: rgba(0,0,0,0.8);
  color: white;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 303px;
}

.arr-sep{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  border-left: 20px solid rgba(255, 255, 255, 0.6);
  border-bottom: 20px solid transparent;
}

.ctable {
  display: table;
  width: 303px;

}

.crow {
  display: table-row;
}

.ccolumn {
  display: table-cell;
  vertical-align: top;
  border-bottom: 1px solid darkgray;
  padding: 5px;
}

.cheading {
  font-weight: bolder;
  font-size: 15px;
  border: none;
}
.iw-h-pre-wrap {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
}

.iw-h-wrap {
  border-radius: 5px;
  background: whitesmoke;
  color: black;
  font-weight: bolder;
  padding: 4px 10px;
  font-size: 1.3em;
}

.clabel {
  padding-right: 5px;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37439A;
  z-index: 2000;
}

#cover_inner{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 50%;
  background: white;
  border-radius: 15px;
}

#l1 {
  position: fixed;
  top: 100%;
  left: 0%;
  width: 200%;
  height: 50%;
  background: #4359CA;
  -ms-transform: rotate(-25deg);
  /* IE 9 */
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform: rotate(-25deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-origin: 0% 0%;
  /* Chrome, Safari, Opera */
  transform: rotate(-25deg);
  transform-origin: 0% 0%;
}

#l2 {
  position: fixed;
  top: 80%;
  left: 0%;
  width: 200%;
  height: 50%;
  background: #6381FB;
  -ms-transform: rotate(-10deg);
  /* IE 9 */
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform: rotate(-10deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-origin: 0% 0%;
  /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
  transform-origin: 0% 0%;
}

#l3 {
  position: fixed;
  top: 65%;
  left: 0%;
  width: 200%;
  height: 50%;
  background: #3E4EB6;
  -ms-transform: rotate(5deg);
  /* IE 9 */
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform: rotate(5deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-origin: 0% 0%;
  /* Chrome, Safari, Opera */
  transform: rotate(5deg);
  transform-origin: 0% 0%;
}

#l4 {
  position: fixed;
  top: 55%;
  left: 0%;
  width: 200%;
  height: 50%;
  background: #B3BDE5;
  -ms-transform: rotate(20deg);
  /* IE 9 */
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform: rotate(20deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-origin: 0% 0%;
  /* Chrome, Safari, Opera */
  transform: rotate(20deg);
  transform-origin: 0% 0%;
}

#l5 {
  position: fixed;
  top: 50%;
  left: 0%;
  width: 200%;
  height: 50%;
  background: #445ACA;
  -ms-transform: rotate(35deg);
  /* IE 9 */
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform: rotate(35deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-origin: 0% 0%;
  /* Chrome, Safari, Opera */
  transform: rotate(35deg);
  transform-origin: 0% 0%;
}

.shadow {
  -webkit-box-shadow: 0px -30px 49px -39px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -30px 49px -39px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -30px 49px -39px rgba(0, 0, 0, 0.75);
}

#cover_title {
  font-weight: bold;
  width:100%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background: #DEDCDE; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#EEECEE, #D2D0D2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EEECEE, #D2D0D2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EEECEE, #D2D0D2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EEECEE, #D2D0D2); /* Standard syntax */
  border-radius: 15px 15px 0px 0px;
  height:50px
}


